<div class="w-[382px] h-[52px] relative">
  <div class="w-[123px] h-[52px] left-0 top-0 absolute bg-white rounded-tl-[40px] rounded-bl-[40px] border border-[#dedede]"></div>
  <div class="w-[259px] h-[52px] left-[123px] top-0 absolute bg-gradient-to-l from-[#ffd3f2] to-[#cef6ff] rounded-tr-[40px] rounded-br-[40px] border border-[#dedede]"></div>
  <div class="left-[37px] top-[12px] absolute text-transparent bg-gradient-to-r from-[#73daf1] to-[#eb7acb] bg-clip-text text-xl font-bold font-sans">{{ title }}</div>
  <div class="left-[156px] top-[12px] absolute text-[#32869a] text-xl font-bold font-sans">{{ value }}</div>
</div>