 {% extends 'base.html' %}
 {% block content %}
 <h1>Dairy Products E-commerce</h1>

 <h5>Username: </h5>
 <p>{{ name }}</p> 

 {% if not products %}
<p>Belum ada product!</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Fat Content</th>
    <th>Quantity</th>
    <th>Rating</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.fat_content}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.rating}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

 {% endblock content %}